:root {
    --branco-principal: #FFFFFF;
    --branco-secudario: #C7C7C7;
    --cor-de-fundo: #04012B;
    --azul-botao: #32519F;
    --cinza-botao: #808DAC;
    --preto-principal: #000000;
    --preto-secudario: #020114;
    --preto-terciario: #2D2C2C;
    --preto-tela: #04012B;
    --cinza-texto: #433F56;
    --fonte-principal: 'Nunito';
 
}
body {
    background-color:var(--cor-de-fundo);
    color:var(--branco-principal);
    font-size: var(--fonte-principal);
    font-size: 16px;
    line-height: 1;
    text-align: justify;
    padding: 0;
    margin: 0;
      
    
}

*{
    margin: 0;
    padding: 0;
    width: 400px;
    
}
.princinpal {
    background-image:url("img/Background.png");
    background-repeat:no-repeat; 
    background-size: contain;
    align-items: justify;
    text-align: justify;
    width: 400px;

}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    

}
.container__botao {
    background-color:var(--azul-botao);
    border-radius: 20px;
    padding: 15px 32px;
    color: var(--branco-principal);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;
    margin: 4px 2px;
    font-size: 16px;
    
    

}
.container__imagem {
    text-align: center;
    position: relative;
    margin: 50px 50px 80px 80px;
    width: 300px;
   
    
}
.container__caixa{
    margin: 0 6em;
}
.secundario__imgem {
    text-align: center;
    position: relative;
    margin: 50px 50px 80px 80px;
    width: 200px;
}
.secundario {
    background-image:url("img/Background.png");
    background-repeat:no-repeat; 
    background-size: contain;
    align-items: center;
    margin: 50px 50px 80px 80px;
    width: 200px;
    


}
.descricao__titulo {
    text-align: center;
    font-family: "-",sans-serif;
    font-size: 2.0625rem;
    font-weight: 400;
    position: relative;
    height: 8.4375rem;
    margin-bottom: 0.1em;
    display: grid;
    place-content: center;

}
.container__descricao{
    display: grid;
    place-content: center;

}
.container__botao__skip {
    background-color: var(--cinza-botao);
    border-radius: 20px;
    padding: 1em;
    color: var(--branco-principal);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;

}
.container__botao__next{
    background-color: var(--azul-botao);
    border-radius: 20px;
    padding: 1em;
    color: var(--branco-principal);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;

}